html,
body {
  padding: 0;
  margin: 0;
  font-family: Comfortaa, Helvetica Neue, sans-serif;
  color: #454545;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
ol {
  line-height: 2rem;
}
ol ::marker {
  margin-block-start: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
